body { 
    margin:10px;
    background-image : url(../images/images/wall.jpg)
}

.container {
    width :800px;
    margin : 0 auto
}



.button {
    color : red;
    font-size : 40px;
    background-color: #000000;
    border-radius: 8px;
    border : 2px solid blue;
}

.button:hover {
    background-color: white;
    color :#000000
}